.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 252, 252);
    margin-bottom: 10px;
}
.navbar .sidebar{
    display: none;
    .sidebar-close{
        display: none;
    }
}
.navbar .logo>*{
    margin-right: 10px;
}
.navbar .logo{
    display: flex;
    align-items: center;
    img{
        width: 100px;
        height: 70px;
    }
}
.navbar .menu{
    ul{
        list-style: none;
        display: flex;
        li{
            margin-right: 2rem;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}
@media(max-width:1080px){
    .navbar .logo{
        h1{
            font-size: large;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
}
@media(max-width:800px){
    .navbar .logo{
        h1{
            font-size: small;
        }
        img{
            width: 40px;
            height: 40px;
        }
    }
    .navbar .menu{
        display: none;
    }
    .navbar .sidebar{
        display: block;
        img{
            height: 30px;
            width: 30px;
        }
    }
}